@media only screen and (max-width: 769px) {
 .App {
   margin: 10px;
 } 

 .options span {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

@media only screen and (min-width: 770px) {
  .App {
    border: solid 2px lawngreen;
    width: 50%;
    height: 600px;
    margin: 100px auto 0px auto;
  }

  .options span {
    margin-right: 70px;
  }
}

.App {
  padding: 10px;
  overflow-y: auto;
}

div {
  margin-top: 5px;
  margin-bottom: 5px;
}

input {
  background-color: black;
  color: lawngreen;
  border: none;
  margin-left: 10px;
  font-family: 'Source Code Pro', monospace;
  font-size: 12pt;
  
}

input:focus {
  outline: none !important;
}

.corrupt-files {
  margin-left: 30px;
  color: red;
}

a {
  color: hotpink;
}